<script
  src="https://js-cdn.music.apple.com/musickit/v3/musickit.js"
  data-web-components
  async
></script>
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script src="/static/v2/vendor/qrcode.min.js"></script>
<script src="/static/v2/js/sphere.js?v=1"></script>
<script src="/static/v2/js/hud.js?v=1"></script>
<script src="/static/v2/js/standby.js?v=1"></script>
<script src="/static/v2/js/chat.js?v=1"></script>
<script src="/static/v2/js/app.js?v=1"></script>
